<!DOCTYPE HTML>
<html style="height:100%">
  <head>
    <meta charset="utf-8">
    <title>RTMAG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= stylesheet_link_tag  'application', media: 'all' %>
    <%= javascript_include_tag 'jquery','jquery-1.11.0.min', 'modernizr-2.6.2.min', 'jpreloader', 'jquery.masonry.min', 'gamma' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
    
  </body>
</html>