
@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700);

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */




img{
	width:100%;
	height:auto;
}

#page-wrap{
    width: 960px;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
}
#header h2{
    text-align: center;
}
#header a{
    text-decoration: none;
    color: #3D91EC;
    display: block;
    text-align: center;
}
#page-wrap h3{
    text-align: center;
    margin-bottom: 20px;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
		
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



/* Gamma Gallery Style */

.gamma-container {
	min-height: 200px;
}

.gamma-gallery {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
	position: relative;
}

/* http://nicolasgallagher.com/micro-clearfix-hack/ */
.gamma-gallery:before,
.gamma-gallery:after {
    content: " ";
    display: table;
}

.gamma-gallery:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
.gamma-gallery {
    *zoom: 1;
}
 */

.gamma-gallery li {
	display: block;
	position: relative;
	cursor: pointer;
	float: left;
	padding: 4px;
}

.gamma-gallery li img {
	max-width: 100%;
	width: auto;
	height: auto;
	display: block;
}

.gamma-description {
	background: #fff;
	background: rgba(255, 255, 255, 0.6);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	-ms-transition: opacity 0.4s ease-in-out;
	-o-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
}

.no-touch .gamma-gallery li:hover .gamma-description {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 1;
}
 
.gamma-description:before {
	content: '';
	height: 100%;
}



.gamma-description h3 {
	font-family: 'Archivo Narrow';
	margin:15px 10px 5px 10px;
	padding:5px 0;
	font-weight:bold;
	text-transform: uppercase;
	font-size: 34px;
	line-height:34px;
	letter-spacing: 2px;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}
.gamma-description p{
	font-size:20px;
	font-family: 'Archivo Narrow';
	font-weight:400;
}
.gamma-buttons {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 10001;
}

.gamma-buttons button {
	float: left;
	background: #333;
	color: #fff;
	display: block;
	width: 30px;
	height: 30px;
	font-size: 14px;
	margin-left: 5px;
	cursor: pointer;
	border: none;
	outline: none;
}

.gamma-buttons button:before,
.gamma-nav span:before {
	font-family: 'entypo-selected';
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: block;
	text-align: center;
	opacity: 0.7;
	outline: none;
}

.no-touch .gamma-buttons button:hover {
	background: #666;
}

button.gamma-btn-close:before {
	content: '\2715';
}

button.gamma-btn-ssplay:before {
	content: '\25b6';
}

button.gamma-btn-sspause:before {
	content: '\2389';
}

.gamma-single-view {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
	z-index: 10000;
	text-align: center;
	display:none;
}

.gamma-overlay {
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	display: none;
	z-index: 9999;
}

.gamma-single-view img {
	position: absolute;
	cursor: pointer;
}

.gamma-description-wrapper {
	background: rgba(0,0,0,0.7);
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 10;
	padding: 5px 0;
}

.gamma-single-view .gamma-description {
	font-family: 'Archivo Narrow';
	background: transparent;
	position: relative;
	bottom: auto;
	left: auto;
	right: auto;
	top: auto;
}

.gamma-single-view .gamma-description h3 {
	font-size: 15px;
	padding: 5px 0;
	color: #fff;
}

.gamma-nav span {
	position: absolute;
	display: block;
	width: 20px;
	height: 38px;
	top: 50%;
	margin-top: -19px;
	left: 20px;
	cursor: pointer;
	text-align: center;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.gamma-nav span.gamma-next {
	left: auto;
	right: 20px;
}

.gamma-nav span:before {
	color: #fff;
	opacity: 0.7;
	font-size: 40px;
}

.gamma-nav span:hover:before {
	opacity: 1;
}

.gamma-nav span:before {
	display: block;
	margin: 0;
	width: auto;
}

.gamma-nav span.gamma-prev:before {
	content: '\e75d';
}

.gamma-nav span.gamma-next:before {
	content: '\e75e';
}

.gamma-img-fly {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

/* Loaders */

.gamma-loading {
	background: transparent url(loader_light.gif) no-repeat center center;
}

.gamma-single-view.gamma-loading {
	background: transparent url(loader_dark.gif) no-repeat center center;
}


/* Make some things unselectable. Remove where selection is needed: */

.gamma-container img,
.gamma-nav span,
.gamma-buttons button,
.gamma-description-wrapper,
.gamma-description,
.gamma-description h3 {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media screen and (max-width: 750px) {

	.gamma-description {
		top: 10px;
		left: 10px;
		bottom: 10px;
		right: 10px;
	}

	.gamma-description h3 {
		font-size: 14px;
		padding: 0 5px;
	}

}

@media screen and (max-width: 500px) {

	.gamma-buttons {
		float: left;
		clear: both;
	}

}
/* General Demo Style */


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
