<!DOCTYPE HTML>
<html>

<link rel="shortcut icon" href="sites/default/files/sport_favicon.png" type="assets/png" />
<title>Sport magazine</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />


<!--[if lte IE 9]>
<link type="text/css" rel="stylesheet" href="http://www.sport-magazine.co.uk/sites/default/files/css/css_HNDyFkFXHose-n5SnxM3eaL9dHKTyFR3XkPQlgoZ9us.css" media="all" />
<![endif]-->

<!--[if (gte IE 9)|(gt IEMobile 7)|(!IE)]><!-->
<!--<![endif]-->

</head>
<body class="html not-front not-logged-in no-sidebars page-node page-node- page-node-12 node-type-page" >
  <div id="skip-link">
    <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
  </div>
    <!--[if (gte IE 9)|(gt IEMobile 7)|(!IE)]><!-->
<div id="coverit" style="position: absolute; width: 100%; height: 100%; background: white; z-index: 11;"></div>
<noscript style="  position: relative; z-index: 12;">I'm sorry but to view this site you need Javascript enabled</noscript>
<!--<![endif]-->
	<div class="slide_area">
		<div id="slide_menu">
			<img src="assets/logo.png" alt="Sport magazine" class="close-logo" />

      <!--[if lte IE 9]><div id="shownOnlyOnceADay">
        <p>For the best viewing experience you should upgrade your copy of Internet Explorer</p>
      </div><![endif]-->

		<div class="region region-slide">
    		<div id="block-system-main-menu" class="block block-system block-menu">
  				<div class="content">
                    <ul class="menu"><li class="first leaf"><a href="index">Home</a></li>
                        <li class="leaf"><a href="magzine">Create Your Own</a></li>
                        <li class="last leaf"><a href="contact.html" title="">Contact Us</a></li>
                    </ul> 
 				</div>
			</div>
  		</div>

      <div id="slide_share">
        <a href="#" id="facebook" title="Facebook" target="_blank"></a>
        <a href="#" id="twitter" title="Twitter" target="_blank"></a>
        <a href="#" id="youtube" title="YouTube" target="_blank"></a>
      </div>

	</div>
</div>

<div id="wrapper">
	<div class="main_container">
		<section class="header-area">
      		<a href="index">
            	<div id="logo">
            		<img src="assets/ipl-logo2.png" alt="Sport magazine" id="logoImg"/>
                </div>
              </a>
			<div class="menubuttons">
				      <div id="search">
	              <form action="http://www.sport-magazine.co.uk/search" id="cse-search-box">
	                  <input type="hidden" name="cx" value="partner-pub-6195145773606154:3291545348" />
	                  <input type="hidden" name="cof" value="FORID:10" />
	                  <input type="hidden" name="ie" value="UTF-8" />
	                  <input type="text" name="as_q" size="15" />
	                  <input type="submit" name="sa" value="Search" />
	              </form>
	            </div>
	            <button id="search-button"></button>
	            <!--[if (gte IE 9)|(gt IEMobile 7)|(!IE)]><!--><button id="pageview"></button><!--<![endif]-->
              <!--[if lte IE 9]><a href="/features" id="pageview"></a><![endif]-->
	            <button class="slide-toggler rotate"></button>
			</div>
		</section>

		<section class="content-area">
			<div class="tabs"></div>
				<h1 class="taxTitle">features</h1>
      			<div class="region region-content">
					<div id="block-views-front-panel-view-block" class="block block-views">
  						<div class="content">
    						<div class="view view-front-panel-view view-id-front_panel_view view-display-id-block view-dom-id-67919d4e616d15ab9ab49789db1e3804">
    							<div class="gamma-container gamma-loading" id="gamma-container">
                                    <ul class="gamma-gallery">
                                        <li onclick = 'return tweets_fetch("kkrvsmi")'>
                                            <div data-description="<h3>KKR vs MI</h3> <p>April 8th | 2015</p>" ">
                                                <div data-src="assets/kkr-vs-mi/CCFeK7TUsAIf_MW.png" ></div>
                                            </div>
                                        </li>
                                        <li onclick = 'return tweets_fetch("CSKvsDD")'>
                                            <div data-description="<h3>DD vs CSK</h3> <p>April 9th | 2015</p>">
                                                <div data-src="assets/CCLIigtXIAA1qT5.jpg"></div>
                                            </div>
                                        </li>
                                        <li onclick = 'return tweets_fetch("KXIPvsRR")'>
                                            <div data-description="<h3>RR vs KXIP</h3> <p>April 10th | 2015</p>">
                                                <div data-src="assets/kingXI-RR/sehwag-out-ipl-royals.jpg"></div>
                                            </div>
                                        </li>
                                        <li onclick = 'return tweets_fetch("CSKvsSRH")'>
                                            <div data-description="<h3>CSK vs SRH</h3> <p>April 11th | 2015</p>">
                                                <div data-src="assets/csk-vs-srh/brendon-mccullum-csk.jpg"></div>
                                            </div>
                                        </li>
                                        <li onclick = 'return tweets_fetch("KKRvsRCB")'>
                                            <div data-description="<h3>KKR vs RCB</h3> <p>April 11th | 2015</p>">
                                                <div data-src="assets/kkr-vs-rcb/gayle-virat.jpg"></div>
                                            </div>
                                        </li>
                                        <li onclick = 'return tweets_fetch("DDvsRR")'>
                                            <div data-description="<h3>DD vs RR</h3> <p>April 12th | 2015</p>">
                                                <div data-src="assets/dd-vs-rr/Dinesh-Karthik-Sanju-Samson.jpg"></div>
                                            </div>
                                        </li>
                                        <li onclick = 'return tweets_fetch("MIvsKXIP")'>
                                            <div data-description="<h3>KXIP vs MI</h3> <p>April 12th | 2015</p>">
                                                <div data-src="assets/kingXI-mi/harbhajan1_1204bcci_630.jpg"></div>
                                            </div>
                                        </li>
                                        
                                    </ul>

								</div>
    							<h2 class="element-invisible">Pages</h2>
                                <div class="item-list">
                                    <ul class="pager">
                                        <li class="pager-current first">1</li>
                                        <li class="pager-item"><a title="Go to page 2" href="features2679.html?page=1">2</a></li>
                                        <li class="pager-item"><a title="Go to page 3" href="features4658.html?page=2">3</a></li>
                                        <li class="pager-next"><a title="Go to next page" href="features2679.html?page=1">next &rsaquo;</a></li>
                                        <li class="pager-last last"><a title="Go to last page" href="features4658.html?page=2">last &raquo;</a></li>
                                    </ul>
                                </div>  
  							</div>  
                          </div>
						</div>
  					</div>
			</section>

		<section class="footer-area">
      		<section id="footwrap">
        		<span id="copyright">IPL Realtime © 2015</span>
  			  	<div class="region region-footer">
    				<div id="block-menu-menu-footer-menu" class="block block-menu">
						<div class="content">
							<ul class="menu"><li class="first leaf"><a href="about-us.html" title="">About</a></li>
							<li class="leaf"><a href="advertise.html" title="">Advertise</a></li>
							<li class="last leaf"><a href="terms.html" title="">Legal</a></li>
							</ul>  
						</div>
					</div>
  				</div>
  			</section>
		</section>
	</div>
</div>



<!--[if (gte IE 9)|(gt IEMobile 7)|(!IE)]><!-->






<script type="text/javascript">
  $(document).ready(function () {
        $('body').jpreLoader({
          loaderVPos: '50%',
        }, function(){
          $("#coverit").fadeOut();
        });
  });
</script> 
<!--<![endif]-->

        <script type="text/javascript">
            Modernizr.load({
              test: Modernizr.csscolumns,
              yep : '',
              nope: ['http://masonry.desandro.com/jquery.masonry.min.js']
            });
        </script>
		
		
		
</body>

</html>
<script>
$( document ).ready(function() {

  var GammaSettings = {
    // order is important!
    viewport : [ {
      width : 1200,
      columns : 5
    }, {
      width : 900,
      columns : 4
    }, {
      width : 500,
      columns : 3
    }, { 
      width : 320,
      columns : 2
    }, { 
      width : 0,
      columns : 2
    } ]
  };
    var page = 0,
    items = []
    function fncallback() {
    $( '#loadmore' ).show().on( 'click', function() {
      ++page;
      var newitems = items[page-1]
      if( page <= 1 ) {
        Gamma.add( $( newitems ) );
      }
      if( page === 1 ) {
        $( this ).remove();
      }
    });

  }
Gamma.init( GammaSettings, fncallback );
});

</script>
<script>
function tweets_fetch(key){
  window.location.href = "result?key="+key
}
</script>
