<!DOCTYPE HTML>
<html>

<link rel="shortcut icon" href="sites/default/files/sport_favicon.png" type="assets/png" />
<title>Sport magazine</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!--<![endif]-->


</head>
<body class="html front not-logged-in no-sidebars page-node">
  <div id="skip-link">
    <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
  </div>
    <!--[if (gte IE 9)|(gt IEMobile 7)|(!IE)]><!-->
  <div id="coverit" style="position: absolute; width: 100%; height: 100%; background: white; z-index: 11;"></div>
  <noscript style="  position: relative; z-index: 12;">I'm sorry but to view this site you need Javascript enabled</noscript>
  <!--<![endif]-->
  <div class="slide_area">
    <div id="slide_menu">
      <img src="assets/logo.png" alt="Sport magazine" class="close-logo" />
      <!--[if lte IE 9]><div id="shownOnlyOnceADay">
        <p>For the best viewing experience you should upgrade your copy of Internet Explorer</p>
      </div><![endif]-->

    <div class="region region-slide">
        <div id="block-system-main-menu" class="block block-system block-menu">
                <div class="content">
                    <ul class="menu"><li class="first leaf"><a href="index.html" class="active">Home</a></li>
                        <li class="leaf"><a href="#">Apps</a></li>
                        <li class="last leaf"><a href="#" title="">Contact Us</a></li>
                    </ul>  
                </div>
      </div>
      </div>

      <div id="slide_share">
        <a href="#" id="facebook" title="Facebook" target="_blank"></a>
        <a href="#" id="twitter" title="Twitter" target="_blank"></a>
        <a href="#" id="youtube" title="YouTube" target="_blank"></a>
      </div>
  </div>
</div>

<div id="wrapper">
  <div class="main_container">
    <section class="header-area">
          <a href="index.html">
              <div id="logo">
                <img src="assets/ipl-logo.png" alt="">
                <span id="slogan">The India's leading sports magazine</span>
              </div>
           </a>
        <div class="menubuttons">
                  <div id="search">
              <form action="http://www.sport-magazine.co.uk/search" id="cse-search-box">
                  <input type="hidden" name="cx" value="partner-pub-6195145773606154:3291545348" />
                  <input type="hidden" name="cof" value="FORID:10" />
                  <input type="hidden" name="ie" value="UTF-8" />
                  <input type="text" name="as_q" size="15" />
                  <input type="submit" name="sa" value="Search" />
              </form>
              <script type="text/javascript" src="http://www.google.co.uk/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
            </div>
            <button id="search-button"></button>
            <!--[if (gte IE 9)|(gt IEMobile 7)|(!IE)]><!--><button id="pageview"></button><!--<![endif]-->
            <!--[if lte IE 9]><a href="/features" id="pageview"></a><![endif]-->
            <button class="slide-toggler rotate"></button>
        </div>
  </section>

  <section class="content-area">
    <div class="tabs"></div>
    <h1 class="taxTitle"></h1>
        <div class="region region-content">
        <div id="block-system-main" class="block block-system">
        <div class="content">
            <div id="node-12600" class="node node-article node-promoted node-teaser clearfix">
                <div class="headerwrap">
                  <div class="group-left">
                      <div>
                                  <div class="title-wrap">
                                    <h1 class="field-name-title"><span id="titlespan"><a href="features/mind-games.html">IPL 2015</a></span></h1>
                                  </div>
                                    <div class="summary">
                                      <div class="field field-name-field-teaser-summary field-type-text-long field-label-hidden">
                                        <div class="field-items"><div class="field-item even">Joe Hart on the mental challenge of keeping goal for Manchester City and England</div>
                                            
                                         </div>
                                     </div>
                                   </div>
                      </div>
                  </div>
                        <div class="group-right">
                          <div class="content">
                            <div class="withoutjs working"><div class="field field-name-field-teaser-image field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><a href="features/mind-games.html"><img src="assets/kohli.jpg" width="1280" height="1024" alt="Joe Hart" /></a></div></div></div></div>
                            
                          </div>
                        </div>
              </div>

      <div id="bodywrap">
         <div id="bodywrap2">
          <div id="bodywrap3">
      <div class="submitted">
                <div id="sub_top">
                <div id='author'><p>words<br/><b>Amit Katwala</b></p></div><div id='pubDate'><p>date<br/><b>March 18th| 2015</b></p></div>                                  <div id='inIssue'><p>issue<br/><b><div class="field field-name-field-issue-number field-type-number-integer field-label-hidden"><div class="field-items"><div class="field-item even">395</div></div></div></b></p></div>
                    <div id="share-widget">
                    <div class="pw-widget pw-size-large">
                      <a class="pw-button-facebook"></a>
                      <a class="pw-button-twitter"></a>
                    </div>
                  </div>
                </div>
              </div>
            
            <div id="contentwrap">
              <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even"><h1><strong>“I  just want to score.” It’s normally one of the dullest phrases a footballer can utter. </strong></h1>
<p>But when Joe Hart says it towards the end of our interview, it’s an insight into the unique nature of his position. The Manchester City and England goalkeeper has tasted plenty of success in recent years, but there are parts of football that remain beyond his extensive reach.</p>
<p>“Striker,” answers Hart instantly when we ask what position he’d like to play in if he weren’t a keeper. “I’d love to score. That would be my dream.”</p>
<p>Goalkeepers don’t get to bask in the glory of the crowd when they do well – there are no shirt-whirling, corner flag-bashing, manager-hugging celebrations after a good stop. Can making a save possibly compare to scoring a goal?</p>
<p>“It’s a very good feeling,” he says. “It’s a good surge. But the thing with making a save is that you can’t run off and slide on your knees. Unless you’ve caught it, you’ve either pushed it out into play or pushed it for a corner. It’s gone. As good as making a good save can be, you’ve got to be aware that five seconds later you can let one through your hands.”</p>
<p>Goalkeepers are different, so the saying goes. And that presents unique mental challenges. We wonder how Hart copes with the pressure of being the last line of defence. How does he, for example, recover after making a mistake? And how – when he’s not fantasising about sticking one in at the other end – does he keep his concentration during the vast swathes of time when he has nothing to do?</p>
<p>We meet Hart after training, a long goal-kick away from the Etihad Stadium at Manchester City’s new £200m base, on a full-sized indoor pitch with a roof like an aircraft hangar. At 6ft 5ins, he strikes an imposing figure. And, on his best days he seems to have an aura on the pitch too – a confident swagger that tells strikers they’re in for a difficult afternoon. Does he make a conscious effort to try and project that image during games?</p>
<p>“I prefer to feel confident and have that be my image, rather than project it,” he insists, although he admits it’s especially important during the drama of a penalty shootout.</p>
<p>“Penalties are an easy one to zone in on because it’s a one-on-one duel. There’s nothing that can be done – it’s not like someone can do a sneaky one when you’re not looking. You try and make the moment as big for them as it is for you. Some people are immune to that, and you’re wasting your time. But there’s a few people who it might help with.”</p>
<p>Penalties also offer a rare opportunity for goalkeepers to steal the limelight. “It’s a good feeling,” admits Hart, whose late penalty save from Lionel Messi gave his side a Champions League lifeline in their last-16 first-leg tie last month. “In my head it’s all because of me. But, realistically, they might have just taken a bad penalty or made the wrong decision. Anyone is more than capable of scoring past me from 12 yards, whatever team it is.”</p>

<h3><strong>The big picture</strong></h3>
<p>“You can feel when someone is in a good place and when someone feels good about what they do, the same as I can feel it with strikers,” says Hart, back on the subject of confidence. “So, to be in a naturally good place is a lot better. You’ve got to believe in what you do and feel comfortable and confident when you go out. Being in the right frame of mind always helps – we all have vulnerable parts, times in our game when you’re thinking the worst can happen. But you need to limit them as best you can.”</p>
<p>Mistakes don’t happen too often for Hart, who has proven himself a reliable operator at both club and international level. He won the Golden Glove, for the most clean sheets in a Premier League season, on three consecutive occasions between 2010-11 and 2012-13. But how does he clear his mind when one does slip through his fingers?</p>
<p>“You’ve just got to see the bigger picture, really,” he says. “It’s not about me, it’s not about the mishap that I’ve been part of or the goal – the win is the important thing, and that’s always been my thought process.”</p>
<p>Hart says his approach hasn’t changed, regardless of the level he’s been playing at or the importance of the game. He started his career at hometown club Shrewsbury, and made his senior debut in the Conference, a day after his 17th birthday.</p>
<p>“When I was 17 or 18, that was my pinnacle – playing at Shrewsbury. Being in the first team, I was punching above my weight and I knew that. And I wanted to stay in the team, so everything mattered to me.”</p>
<p>Dealing with the mishaps, however, is something he’s got better at. “It’s not necessarily coming to terms with mistakes,” says Hart. “I’ve always kind of accepted in my role as a goalkeeper that it’s going to happen. But turning it into a positive is something that I’ve improved on, definitely.”</p>

<h3><strong>No Fear</strong></h3>
<p>The difference for Hart, now he is City and England’s number one, is that when he goes through a patch of bad form or gets dropped from the team, it makes headline news. At the end of 2013, he played just twice in two months after a defensive mix-up led to a last-minute defeat against Chelsea. How did he cope during his time out of the starting XI?</p>
<p>“You can’t replicate a game,” he says. “That’s impossible to do, no matter what you do in training. It’s just something I feel I have to try and get on with. For instance, last season, when I came back into the team I wanted it to feel natural – that was more what I worked towards. I didn’t want to come in feeling like I’d worked on outrageous saves; I wanted to come in feeling like the basics were there.”</p>
<p>Does a spell on the sidelines prey on his mind when he returns to the team? “You can’t live in fear,” he says. “At the end of the day you’ve got to break it down – it’s football.”</p>
<p>Like a lot of athletes, Hart sees a sports psychologist to help him through those difficult times. “I’ve got a relationship with someone who I’ve worked with for a while,” he admits. “It’s a lot of fun. I like what I get out of it. Just generally – it’s not necessarily just football and trying to ‘unlock doors’. It’s just general – kind of free-flowing, feeling comfortable and safe to talk. Everyone could benefit from it, really, for life in general.” </p>

<h3><strong>Big characters</strong></h3>
<p>So, <em>are</em> goalkeepers different? “You get some characters,” says Hart. He laughs as he glances towards former England keeper David James, who has just interviewed him for BT Sport ahead of Manchester City’s game against West Brom this weekend. “Some big, big characters. But I’ve seen plenty of strikers and defenders and wingers who have got just as crazy kind of antics as keepers.”</p>
<p>The eccentricities of some shot-stoppers could, perhaps, be down to a certain isolation that comes with the position. For starters, it’s the only position where you’re in direct competition with your training partners for just one space in the team.</p>
<p>“It would be a hard thing for a striker to come in and do,” says Hart, when we ask whether he finds that difficult to manage. “The keepers I’ve worked with, we’ve worked together in training and then the manager has come in to make the decision for me. So I’ve never taken it personally from the other goalkeeper, and I like to think no one has ever taken it personally towards me.”</p>
<p>Hart does not think his is an inherently lonely position. “It’s up to you whether you want to be a big part of the team off the field,” he asserts. “I’ve always enjoyed socialising with people. I’ve not always felt like: ‘We’re keepers and we do our own thing.’ There are ways you can build relationships, and I’ve always felt I’ve had good ones.”</p>
<p>It can, however, seem quite lonely on the pitch – particularly at Hart’s level, when the ball spends long periods at the other end. He averages just 1.85 saves per game in the Premier League this season, according to football statistics website Squawka.</p>
<p>“I’ve always said – as much as the ball is up the other end, it doesn’t mean you’re not involved in the game,” says Hart. “It’s not a massive pitch. I’m constantly aware of my positional play and how quickly defence can turn into attack. So, in terms of being isolated in the game, I’ve never really felt that.”</p>
<p>He laughs when we ask whether he finds himself wishing for some goalmouth action just to break up the monotony. “Yes! And that feeling has bitten me in the bum.”</p>
<p>He elaborates: “If I was to play a game and not touch the ball and we win, then I’m happy.” Goalkeepers really are different.</p>
<p><em>Joe Hart is a BT Sport ambassador. Watch Manchester City v West Brom exclusively live on BT Sport 1 from midday on Saturday. Watch the build-up on Matchday Live with Fletch &amp; Sav from 10am on BT Sport 1</em></p>
</div></div></div>
                <div class='submitted'><div id='sub_bot'><a href="#">@amitkatwala</a></div></div>                  
                
                <div class="field field-name-field-tags field-type-taxonomy-term-reference field-label-above"><div class="field-label">Tags:&nbsp;</div><div class="field-items"><div class="field-item even"><a href="football.html">football</a></div><div class="field-item odd"><a href="joe-hart.html">Joe Hart</a></div></div></div>
                <!--<div id="articleShare">
                  <button id="shareBut1" class="shareBut"></button>
                  <div class="pw-widget pw-size-large">
                    <a class="pw-button-facebook"></a>
                    <a class="pw-button-twitter"></a>
                    <a class="pw-button-googleplus"></a>
                    <a class="pw-button-post"></a>
                  </div>
                  <button id="shareBut2" class="shareBut">Share</button>
                  <script src="http://i.po.st/static/v3/post-widget.js#publisherKey=3gebhsd2k4igiakdla83&retina=true" type="text/javascript"></script>
                </div>-->

            </div>
          </div>
        </div>
      </div>

        <ul class="links inline">
            <li class="node-readmore first last"><a href="features/mind-games.html" rel="tag" title="Mind Games">Read more<span class="element-invisible"> about Mind Games</span></a>
            </li>
        </ul>
  </div>
    
  </div>
</div>
<div id="block-views-most-viewed-content-block" class="block block-views">

    <h2>Most Viewed</h2>
  
  <div class="content">
    <div class="view view-most-viewed-content view-id-most_viewed_content view-display-id-block view-dom-id-fcddc6dab7f38dc0e66011c7aaa47f94">
      <div class="view-content">
          <div class="views-row views-row-1 views-row-odd views-row-first">
          <div class="views-field views-field-field-panel-image">        
                  <div class="field-content"><a href="features/multitalented.html">
                      <img src="assets/30016.jpg" width="427" height="427" alt="Katarina Johnson-Thompson" /></a>
                    </div>  
                </div>  
                <div class="views-field views-field-title">
                    <span class="field-content"><a href="features/multitalented.html">MULTITALENTED</a></span>  
                </div>  
                <div class="views-field views-field-field-teaser-summary">
                    <div class="field-content">Katarina Johnson-Thompson is the coming force in British athletics. After having her 2014 cut short by injury, she returns refreshed and ready to get back among the medals
                    </div>  
                </div>  
          </div>
            <div class="views-row views-row-2 views-row-even">
                <div class="views-field views-field-field-panel-image">
                    <div class="field-content"><a href="features/multitalented.html"><img src="assets/28783.jpg" width="427" height="427" alt="" /></a>
                    </div>  
                </div>  
            <div class="views-field views-field-title">
                <span class="field-content"><a href="features/multitalented.html">The Remarkable Rise of Harry Kane</a></span>  
            </div>  
            <div class="views-field views-field-field-teaser-summary">        
                <div class="field-content">English football’s bright young star talks exclusively to Sport</div>  
            </div>  
          </div>
          <div class="views-row views-row-3 views-row-odd">
            <div class="views-field views-field-field-panel-image">
                <div class="field-content"><a href="features/multitalented.html"><img src="assets/8048.jpg" width="427" height="427" alt="Susie Wolff" /></a>
                </div>  
            </div>  
          <div class="views-field views-field-title">
            <span class="field-content"><a href="features/susie-wolff.html">Susie Wolff</a></span>
          </div>  
            <div class="views-field views-field-field-teaser-summary">
                <div class="field-content">Sport meets the first woman to have taken part in a Formula 1 weekend for more than 20 years</div>  
            </div>  
          </div>
          <div class="views-row views-row-4 views-row-even">
            <div class="views-field views-field-field-panel-image">
                <div class="field-content"><a href="features/multitalented.html"><img src="assets/31942.jpg" width="427" height="427" alt="Santi Cazorla" /></a>
                </div>  
            </div>  
          <div class="views-field views-field-title">
            <span class="field-content"><a href="features/multitalented.html">Santi knows best</a></span>  
          </div>  
              <div class="views-field views-field-field-teaser-summary">
                <div class="field-content">Alexis Sanchez’s annoying habits, London’s best Spanish food and why Arsenal envy no one: Sport picks the brain of in-form midfield maestro Santi Cazorla</div>  
              </div>  
          </div>
          <div class="views-row views-row-5 views-row-odd">
              <div class="views-field views-field-field-panel-image">
                <div class="field-content"><a href="features/multitalented.html"><img src="assets/24115.jpg" width="427" height="427" alt="Keri-Anne Payne" /></a></div>
              </div>  
              <div class="views-field views-field-title">
                <span class="field-content"><a href="features/multitalented.html">Keri-Anne Payne</a></span>
              </div>  
              <div class="views-field views-field-field-teaser-summary">
                <div class="field-content">The open water swimming champ quashes the horse’s head rumours and admits an aversion to apples</div>  
              </div>  
          </div>
          <div class="views-row views-row-6 views-row-even views-row-last">
            <div class="views-field views-field-field-panel-image">
               <div class="field-content"><a href="features/multitalented.html"><img src="assets/24563.jpg" width="427" height="427" alt="Mo Farah" /></a></div>
            </div>  
          <div class="views-field views-field-title"> 
            <span class="field-content"><a href="features/multitalented.html">Mo Farah</a></span>  
          </div>  
          <div class="views-field views-field-field-teaser-summary">
            <div class="field-content">Britain’s cheery long-distance runner talks snakes, Denzel Washington and, of course, Arsenal</div>
          </div>
        </div>
  </div>
  </div>
</div>
</div>
</div>
</section>

<section class="footer-area">
  <section id="footwrap">
      <span id="copyright">IPL Realtime © 2015</span>
        <div class="region region-footer">
        <div id="block-menu-menu-footer-menu" class="block block-menu">
        <div class="content">
                    <ul class="menu"><li class="first leaf"><a href="#" title="">About</a></li>
                        <li class="leaf"><a href="#" title="">Advertise</a></li>
                        <li class="last leaf"><a href="#" title="">Legal</a></li>
                    </ul>
        </div>
      </div>
      </div>
  </section>
</section>
</div>
</div>


<!--[if (gte IE 9)|(gt IEMobile 7)|(!IE)]><!-->

<script>
  jQuery("blockquote p").fitText(1.2);
</script>

<script type="text/javascript">
  $(document).ready(function () {
        $('body').jpreLoader({
          loaderVPos: '50%',
        }, function(){
          $("#coverit").fadeOut();
        });
  });
</script> 
<!--<![endif]-->

  </body>
</html>
